{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- =============================================== -->
    <!-- Document Title -->
    <!-- =============================================== -->
    <title>
      {% block title %}
        Inicio
      {% endblock %}
    </title>

    <!-- =============================================== -->
    <!-- Stylesheets -->
    <!-- =============================================== -->
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" />
    <!-- Roboto y Roboto Flex desde Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Roboto+Flex:wght@400;500;700&display=swap" rel="stylesheet" />

    {% block extra_css %}
    {% endblock %}
  </head>

  <body>
    <main>
      {% block content %}

      {% endblock %}
    </main>

    <!-- =============================================== -->
    <!-- JavaScripts -->
    <!-- =============================================== -->
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% block extra_js %}
    {% endblock %}
  </body>
</html>
